[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
deprecated = "*"
requests = "*"
pyyaml = "*"
boto3 = "*"

[dev-packages]
pylint = "*"
pytest = "*"
pytest-env = "*"
black = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
